* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 
body{

    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
   
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_side
{
    position: relative;
    background: #003147;
    padding: 40px;
}

.profiletext{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
 img{
    max-width: 100%;
    border-radius: 50%;
 }

 .profiletext .imgbox{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
 }

 .profiletext .imgbox img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .profiletext h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    line-height: 1.4em;

}

.contactinfo{
    padding-top: 40px;


}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
    border-bottom: 1px solid;

}
.contactinfo ul{
    position: relative;
}
 .contactinfo ul li{
    position: relative;
    list-style: none;
     margin: 10px 0;
    
     
 }
 .contactinfo ul li .icon{
display: inline-block;
width: 30px;
font-size: 18px;
color: aquamarine;
 }
 .contactinfo ul li span{
    color: azure;
    font-weight: 300;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .contactinfo .education li{
    margin-bottom: 15px;
color: #fff;
text-underline-offset: 30em;


 }
 .contactinfo.education ul li h5{
    color: lightblue;
    font-weight: 700;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    
 }
 .contactinfo.education ul li h4{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    margin-bottom: 15px;
 }
 .contactinfo.education ul h3{
    color: #fff;
    border-bottom: 1px solid;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding-top: 20px;
 }

.profiletext {
    color: #fff;
    font-size: 0.8em;
    font-weight: 300;
}
.container .right_side
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.right_side .about .title2{
    text-transform: uppercase;
    letter-spacing: 1px;
}

.right_side .about h2{
color: lightseagreen;
border-bottom: 2px solid black;
margin-bottom: 15px;
}
.right_side .about h2{
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;

}
.about .box .year_company {
    min-width: 150px;
    
}
.about .box .year_company h5{
    text-transform: uppercase;
    color: #848c98;
}
.about .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
}
.about_skills .title2{
    color: lightseagreen;
border-bottom: 2px solid black;
margin-bottom: 15px;

}

.skills .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
}
.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4{
    text-transform: uppercase;
    color: #848c99;



}
.skills .box .percent{
    position: relative;
    width: 100%;
    height: 40%;
    background-color: bisque;

}
.skills .box .percent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: lightseagreen;

}